spring:
#  autoconfigure:
#    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    io.github.joaovitorleal.securecapita: DEBUG